<ul>
    {% for product in products %}
        <li>
            <span>
            {{ product.name }}
            </span>
            <span>
            {{ product.price }}
            </span>
        </li>
    {% endfor %}
</ul>
